<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<a href="/ball" class="card">
    <img 
        src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcShj4KQVceSsKJe4YW8Z4T9NMTDIZS4y4A31wM2N2MF1h7IXvllN4HRFXtl4hdo6rLydJLxK6cY7Uef6HVdImi-ynuGnwjnODQ-EEImx-AEQhuGYJTS8KDFL6jtkoi_104O2IFDZQ&usqp=CAc"
        alt="Ball">
    <p>Перейти на сторінку з м’ячем</p>
</a>

</body>
</html>
